/* ------------------------------GLOBAL VARIABLES---------------------- */
:root{
  --primary-color:#1E3440;
  --background-color:#FFFFFF;
}
html{
  font-size: 16px;
  width: 100%;
}
body {
  width: 100%;
  background-color: #FFFFFF;
  overflow: auto hidden;
  font-family: system-ui, sans-serif;
  margin: 0;
  line-height:normal;
  color: var(--primary-color);
}

a {
  color: #000;
  text-decoration: underline;
}
/* ------------------------------GRID---------------------- */
.col-1{
  width: 8.3333%;
  padding-left: calc(5%/12);
  padding-right: calc(5%/12);
}
.col-2{
  width: 16.6667%;
  padding-left: calc(2.5%/6);
  padding-right: calc(2.5%/6);
}
.col-3{
  width: 25%;
  padding-left: calc(1.666%/4);
  padding-right: calc(1.666%/4);
}
.col-4{
  width: 33.3333%;
  padding-left: calc(1.25%/3);
  padding-right: calc(1.25%/3);
}
.col-5{
  width: 41.6667%;
  padding: 0 1%;
}
.col-6{
  width: 50%;
  padding: 0 0.8333%;
}
.col-7{
  width: 58.3333%;
  padding-left: calc(0.7143%*7/12);
  padding-right: calc(0.7143%*7/12);
}
.col-8{
  width: 66.6667%;
  padding-left: calc(0.625%*2/3);
  padding-right: calc(0.625%*2/3);
}
.col-9{
  width: 75%;
  padding: 0 0.5556%;
  float: left;
}
.col-10{
  width: 83.3333%;
  padding: 0 0.5;
  float: left;
}
.col-11{
  width: 91.6667%;
  padding: 0 0.4545%;
  float: left;
}
.col-12{
  width: 100%;
  padding: 0 0.4167%;
  float: left;
}
/* ------------------------------LAYOUT---------------------- */
.left{
  float: left;
}
.right{
  float: right;
}
.alignright {
  text-align: right;
}
.aligncenter{
  text-align: center;
}
.alignleft {
  text-align: left;
}
.no-margin{
  margin:0;
}
.no-padding{
  padding:0;
}
.flex-center-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;  
}
.flex-center-center-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;    
}
.flex-top-row{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;  
}
.flex-left-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;  
}
.flex-center-column{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.flex-space-between-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-space-around-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.fullwidth{
  width: 100%;
}
.fullheight{
  height: 100%;
}
/* ------------------------------HEADER---------------------- */
header{
  width:100%;
  height:96px;
  text-align: center;
  background-color: var(--background-color);
  position: relative;
  z-index: 4;
  -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
  -moz-box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
}
header h1{
  float: left;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
#logo-header{
  height:40px;
  width: auto;
  display: block;
}