/* ------------------------------GLOBAL VARIABLES---------------------- */
:root{
  --primary-color:#0B354B;
  --primary-bg-color:#FFFFFF;
  --secondary-color:#00CBD9;
  --tertiary-color:#89C5C7;
  --auxiliar1-color:#E64448;
  --auxiliar2-color:#EAB244;
  --grey600:#121212;
  --grey500:#666666;
  --grey400:#BDBDBD;
  --grey300:#D3D3D3;
  --grey200:#E9E9E9;
  --grey100:#F4F4F4;
}
html{
  font-size: 16px;
  width: 100%;
}
body {
  width: 100%;
  background-color: var(--primary-bg-color);
  overflow: auto;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  line-height:normal;
  color: var(--primary-color);
}
h1, h1 a{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 3rem;
}
h2, h2 a{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.5rem;
}
h3, h3 a{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
}
h4, h4 a{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
}
h5, h5 a{
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
}
h6{
}
p, p a{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
a, a:visited {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 1rem;
  text-decoration: none;
}
a:focus, 
a:hover{ 
  text-decoration: none;
}
a img{
  border: none;
  width:100%;
  height:auto;
  display: block;
}
h1, h1 a, h1 a:visited,
h2, h2 a, h2 a:visited,
h3, h3 a, h3 a:visited,
h4, h4 a, h4 a:visited,
h5, h5 a, h5 a:visited,
h6, h6 a, h6 a:visited
p a, p a:visited,
a, a:visited{
  color: var(--primary-color);
}
h1 a:hover, h1 a:focus,
h2 a:hover, h2 a:focus,
h3 a:hover, h3 a:focus,
h4 a:hover, h4 a:focus,
h5 a:hover, h5 a:focus,
h6 a:hover, h6 a:focus,
p a:hover, p a:focus,
a:hover, a:focus{ 
  color: var(--secondary-color); 
}
p{
  color:var(--grey600); 
}
b,
strong{ 
  font-weight: bold;
}
blockquote{
  font-weight: bold;
  font-style: italic;
  margin-left: 30px;
}
ul, ol{
  margin: 0;
  padding: 0 0 1rem 2rem;
}
ul li, 
ol li{
  margin: 0;
}
ul li ul{
  padding-bottom: 0;
}

address{
  font-weight: bold; 
}
code{ 
  font-family: Courier, monospace;
}
dt{
  margin-left: 15px;
  font-weight: bold;
}
dd{
  margin: 15px 0 15px 30px;
}
em{ 
  font-style: italic;
}
/* ------------------------------GRID---------------------- */
.col-1{
  width: 8.3333%;
  padding-left: calc(5%/12);
  padding-right: calc(5%/12);
}
.col-2{
  width: 16.6667%;
  padding-left: calc(2.5%/6);
  padding-right: calc(2.5%/6);
}
.col-3{
  width: 25%;
  padding-left: calc(1.666%/4);
  padding-right: calc(1.666%/4);
}
.col-4{
  width: 33.3333%;
  padding-left: calc(1.25%/3);
  padding-right: calc(1.25%/3);
}
.col-5{
  width: 41.6667%;
  padding: 0 1%;
}
.col-6{
  width: 50%;
  padding: 0 0.8333%;
}
.col-7{
  width: 58.3333%;
  padding-left: calc(0.7143%*7/12);
  padding-right: calc(0.7143%*7/12);
}
.col-8{
  width: 66.6667%;
  padding-left: calc(0.625%*2/3);
  padding-right: calc(0.625%*2/3);
}
.col-9{
  width: 75%;
  padding: 0 0.5556%;
  float: left;
}
.col-10{
  width: 83.3333%;
  padding: 0 0.5;
  float: left;
}
.col-11{
  width: 91.6667%;
  padding: 0 0.4545%;
  float: left;
}
.col-12{
  width: 100%;
  padding: 0 0.4167%;
  float: left;
}
/* ------------------------------LAYOUT---------------------- */
.left{
  float: left;
}
.right{
  float: right;
}
.alignright {
  text-align: right;
}
.aligncenter{
  text-align: center;
}
.alignleft {
  text-align: left;
}
.no-margin{
  margin:0;
}
.no-padding{
  padding:0;
}
.flex-center-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;  
}
.flex-center-center-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;    
}
.flex-top-row{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;  
}
.flex-left-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;  
}
.flex-center-column{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.flex-space-between-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-space-around-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.fullwidth{
  width: 100%;
}
.fullheight{
  height: 100%;
}
section{
  width:100%;
  padding: 3rem 5%;
  background-color: #FFFFFF;
}
/* ------------------------------HEADER---------------------- */
header{
  width:100%;
  height:96px;
  text-align: center;
  background-color: var(--primary-bg-color);
  position: relative;
  z-index: 4;
  -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
  -moz-box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 0.75rem 0.75rem rgba(0,0,0,0.22);
}
header h1{
  float: left;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
#logo-header{
  height:40px;
  width: auto;
  display: block;
}