@media only screen and (min-width: 7680px){

}
@media only screen and (min-width: 3840px) and (max-width: 7679px){

}
@media only screen and (min-width: 2560px) and (max-width: 3839px){
}
@media only screen and (min-width: 1920px)and (max-width: 2559px){
}
@media only screen and (min-width: 1440px) and (max-width: 1919px)
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
}
@media only screen and (min-width: 992px) and (max-width: 1023px)
}
@media only screen and (min-width: 600px) and (max-width: 991px){
}
@media only screen and (max-width: 599px){
	html{
		font-size: 14px;
	}
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11{
		width: 100%;
		padding:0;
	}
	/* HAMBURGER */
.menu-toggle {
  display: flex;
  z-index: 1001;
}
.nav {
  position: absolute;
  top: 80px;
  right: 0;
  width: 240px;
  background: white;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.3s ease;
}
.nav.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Animación a X */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
}