@media only screen and (min-width: 7680px){

}
@media only screen and (min-width: 3840px) and (max-width: 7679px){

}
@media only screen and (min-width: 2560px) and (max-width: 3839px){
}
@media only screen and (min-width: 1920px)and (max-width: 2559px){
}
@media only screen and (min-width: 1440px) and (max-width: 1919px)
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
}
@media only screen and (min-width: 992px) and (max-width: 1023px)
}
@media only screen and (min-width: 600px) and (max-width: 991px){
}
@media only screen and (max-width: 599px){
	html{
		font-size: 14px;
	}
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11{
		width: 100%;
		padding:0;
	}
	/* HAMBURGER */
.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.menu-toggle span {
  width: 26px;
  height: 2px;
  background: black;
  transition: 0.3s ease;
}

/* Animación a X */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* OVERLAY */
.overlay-nav {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;

  z-index: 1000;
}

.overlay-nav.active {
  opacity: 1;
  visibility: visible;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  text-align: center;
}

.overlay-content a {
  text-decoration: none;
  color: black;
}
body.menu-open {
  overflow: hidden;
}
.overlay-nav {
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.9);
}
}