@media only screen and (min-width: 7680px){

}
@media only screen and (min-width: 3840px) and (max-width: 7679px){

}
@media only screen and (min-width: 2560px) and (max-width: 3839px){
}
@media only screen and (min-width: 1920px)and (max-width: 2559px){
}
@media only screen and (min-width: 1440px) and (max-width: 1919px)
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
}
@media only screen and (min-width: 992px) and (max-width: 1023px)
}
@media only screen and (min-width: 600px) and (max-width: 991px){
}
@media only screen and (max-width: 599px){
	html{
		font-size: 14px;
	}
}