{% assign lang = page.lang | default: site.default_lang %}
{% assign current_url = page.url | remove: '/' | split: '/' %}

<nav class="breadcrumb">
  <!-- HOME -->
  <a href="{{ '/' | relative_url }}">
    {% if lang == 'es' %}Inicio{% else %}Home{% endif %}
  </a>
  {% assign path = "" %}
  {% for segment in current_url %}
    {% unless segment == "" %}
      {% assign path = path | append: '/' | append: segment %}
      {% assign page_match = site.pages | where: "url", path | first %}
      {% if page_match and page_match.name %}
        <span class="breadcrumb-separator">/</span>
        {% if forloop.last %}
          <span class="breadcrumb-current">
            {{ site.data.translations[lang].navigation.cases }}
          </span>
        {% else %}
          <a href="{{ path | relative_url }}">{{ page_match.name }}</a>
        {% endif %}
      {% endif %}
    {% endunless %}
  {% endfor %}
</nav>