  <footer>
    <div class="footer-top container">
      <div class="col-3 float-footer-l flex-top-row fullheight flex-center-row">
        <p>Contacto:<a href='mailto:vasquez.alf@gmail.com'>vasquez.alf@gmail.com</a></p>
      </div>
      <div class="col-3 float-footer-l flex-top-row fullheight flex-center-row">
      </div>
      <div class="col-3 float-footer-l flex-top-row fullheight flex-center-row">
      </div>
    </div>
    <div class='footer-bottom container'>
      <div class='col-6 left'>
        <p class='copyright alignleft'>Copyright &copy; . Todos los derechos reservados</p>
      </div>
      <div class='col-6 left'>
        <p class='copyright alignright'>Desarrollado por <a href='https://www.alfredovasquezalcala.com' title='Alfredo Vásquez' target="_blank">Alfredo Vásquez</a></p>
      </div>    
    </div>  
  </footer>