<footer class="container flex-space-between-row">
  <div class="fullheight flex-center-row">
    <nav class='fullheight flex-center-row'>
      <a class="flex-center-row" href="mailto:vasquez.alf@gmail.com" target="_blank"><i class="fa-regular fa-envelope social" aria-hidden="true"></i>Escríbeme</a>
      <a class="flex-center-row" href="https://www.linkedin.com/in/alfredohvasqueza/" target="_blank"><i class="fa-brands fa-linkedin-in social" aria-hidden="true"></i></a>
      <a class="flex-center-row" href="https://open.spotify.com/user/frodomons?si=b634a4901fdc4311" target="_blank"><i class="fa-brands fa-spotify social" aria-hidden="true"></i></a>
    </nav>
  </div>
  <div class="fullheight">
    <p class='copyright'>Copyright &copy; Alfredo Vásquez. Todos los derechos reservados</p>
  </div>
</footer>