{% assign lang = page.lang | default: site.default_lang %}
{% assign labels = site.data.translations[lang].labels %}

<footer class="d-flex flex-flow-row-wrap justify-content-between align-items-center">
  <div class="fullheight d-flex align-items-center flex-flow-row-wrap justify-content-center">
    <nav class='fullheight d-flex align-items-center flex-flow-row-wrap justify-content-center'>
      <a class="d-flex align-items-center flex-flow-row-wrap justify-content-center" href="mailto:{{ site.author.email }}" target="_blank" rel="noopener noreferrer" aria-label="{{ labels.email_link }}"><i class="fa-regular fa-envelope social" aria-hidden="true"></i></a>
      <a class="d-flex align-items-center flex-flow-row-wrap justify-content-center" href="https://www.linkedin.com/in/alfredohvasqueza/" target="_blank" rel="noopener noreferrer" aria-label="{{ labels.linkedin_link }}"><i class="fa-brands fa-linkedin-in social" aria-hidden="true"></i></a>
      <a class="d-flex align-items-center flex-flow-row-wrap justify-content-center" href="https://open.spotify.com/user/frodomons?si=b634a4901fdc4311" target="_blank" rel="noopener noreferrer" aria-label="{{ labels.spotify_link }}"><i class="fa-brands fa-spotify social" aria-hidden="true"></i></a>
    </nav>
  </div>
  <div class="fullheight">
    <p class='copyright'>{{ labels.copyright }}</p>
  </div>
</footer>