<header class="container">
  <div class='col-3 left fullheight flex-center-row'>
    <a href="{{ '/'  | relative_url }}">
      <img id="logo-header" src="{{ '/assets/images/AV Logo Black.png' | relative_url }}">
    </a>
  </div>
  <div class='col-9 right fullheight flex-center-row'>
    <nav>
      <a href="/projects/">{{ t.nav.projects }}</a>
      <a class='social' href="https://www.linkedin.com/in/alfredohvasqueza/" target="_blank"><i class="fa fa-linkedin header_icon" aria-hidden="true"></i></a>
      <a class='social' href="mailto:vasquez.alf@gmail.com" target="_blank"><i class="fa fa-envelope table_icon" aria-hidden="true"></i>Escríbeme</a>
      {% include language-switcher.html %}
    </nav>
    
  </div>
</header>