<header class="header">
  <div class="header-inner">
    <a href="{{ '/' | relative_url }}" class="logo">
      <img id="logo-header" src="{{ '/assets/images/AV Logo Black.png' | relative_url }}">
    </a>

    <button class="menu-toggle" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>
</header>

<nav class="overlay-nav">
  <div class="overlay-content">
    <a href="{{ '/projects/' | relative_url }}">{{ t.nav.projects }}</a>
    <a href="mailto:vasquez.alf@gmail.com" target="_blank">
      <i class="fa-regular fa-envelope"></i>
      Escríbeme
    </a>
    {% include language-switcher.html %}
  </div>
</nav>