<header class="container flex-space-between-row">
  <div class='header-left left fullheight flex-center-row'>
    <a href="{{ '/'  | relative_url }}">
      <img id="logo-header" src="{{ '/assets/images/av-logo-black.webp' | relative_url }}" alt="Alfredo Vásquez Strategic Design Lead">
    </a>
  </div>
  <div class='header-right right fullheight flex-center-row'>
    <button class="menu-toggle" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    {% include menu.html %}
  </div>
</header>