---
layout: default
---
{% assign lang = page.lang | default: site.default_lang %}
{% assign labels = site.data.translations[lang].labels %}
{% assign posts = site.blog | where: "lang", lang | sort: "date" | reverse %}

{% include dark-hero.html %}
<!-- BREADCRUMB -->
{% include breadcrumb.html %}

<section id="blog-layout" class="d-flex">
  <div class="blog-main col-9">
    <div class="blog-grid" aria-label="Blog Posts">
      {% for post in posts %}
        {% include post-card.html post=post %}
      {% endfor %}
    </div>
    <p class="no-results-message d-none" role="status" aria-live="polite">{{ labels.no_results }}</p>
  </div>
  <aside class="col-3">
    {% include post-sidebar.html posts=posts %}
  </aside>
</section>
