---
layout: default
og_type: article
---

{% assign lang = page.lang | default: site.default_lang %}

<section class="dark-hero-wrapper">
  <div class="dark-hero fullwidth">
    <h1 class="dark-hero-title">{{ page.title }}</h1>
    <p class="dark-hero-description">{{ page.subtitle }}</p>
  </div>
</section>
{% if page.layout != 'home' %}
  {% include breadcrumb.html %}
{% endif %}
<article class="case-study">
  <section>
    <h2>Context</h2>
    <p>{{ page.context }}</p>
  </section>
  <section>
    <h2>The Challenge</h2>
    <p>{{ page.problem }}</p>
  </section>

  <section>
    <h2>My Role</h2>
    <p>{{ page.role }}</p>
  </section>

  <section>
    <h2>Strategic Approach</h2>
    <p>{{ page.approach }}</p>
  </section>

  <section>
    <h2>Impact</h2>
    <ul>
      {% for item in page.impact %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </section>

  {{ content }}

</article>