<!DOCTYPE html>
{% assign lang = page.lang | default: site.default_lang %}
{% assign t = site.data.translations[lang] %}
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ meta.home.title }}</title>
  <meta name="description" content="{{ meta.home.description }}"/>
  <link rel="alternate" hreflang="en" href="{{ site.url }}/" />
  <link rel="alternate" hreflang="es" href="{{ site.url }}/es/" />
  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/favicon.png' | relative_url }}" type="image/png">
  <link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  <script src="{{ '/assets/js/menu.js' | relative_url }}"></script>
</body>
</body>
</html>
